.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #F27A1A;
    color: white;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.nav a:hover{
    color: #ddd;
}
.nav-logout {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
}
.nav-logout:hover {
    background: #fff;
    color: #F27A1A;
}
